<div class="container pt-4">
  <div class="row">
    <div class="col-12 shadow-8dp border-radius-8px shadow-none-m pt-3">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
          <div class="row">
            <div class="col-auto pb-4 margin-auto">
                <div class="image-container margin-auto" [ngStyle]="{background: 'url(' + userInfo + ')'}" >
                </div>
                <div class="upload-image-container transition-basic shadow-8dp">
                    <span class="material-icons">camera_alt</span>
                </div>
            </div>
          </div>
          <div class="row pt-3 text-primary">
            <div class="col border-right">
              <h3 class="text-center">Kontakte</h3>
              <h5 class="text-center">13</h5>
            </div>
            <div class="col border-right text-primary">
              <h3 class="text-center">Statusi</h3>
              <h5 class="text-center">Shendetshem</h5>
            </div>
            <div class="col text-primary">
              <h3 class="text-center">Familijar</h3>
              <h5 class="text-center">24</h5>
            </div>
          </div>
          <div class="row">
            <div class="col pt-3 pb-3 pt-4 text-center">
              <h5 class="pb-2 text-primary">Gjendja e juaj shendetsore:</h5>
              <mat-button-toggle-group name="userHealthStatus" aria-label="Gjendja Personit">
                <mat-button-toggle value="0" style="font-size: 14px; font-weight: bold">Shendetshem</mat-button-toggle>
                <mat-button-toggle value="1" style="font-size: 14px; font-weight: bold" >Simptomatik</mat-button-toggle>
                <mat-button-toggle value="2" style="font-size: 14px; font-weight: bold">Diagnostifikuar</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
        <div class="col border-left border-left-m-none">
          <div class="row"  [formGroup]="userInfo">
              <div class="col-12 pb-3">
                <h2 class="text-gray text-primary text-center p-m-t-4">Edit User Profile Info</h2>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Emri*</mat-label>
                  <input formnovalidate matInput placeholder="Shkruani emrin tuaj" formControlName="userName">
                  <mat-error *ngIf="userInfo.get('userName').hasError('required') && userInfo.get('userName').hasError('minLength')">
                    Emri eshte i <strong>detyrushem</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Mbiemri*</mat-label>
                  <input formnovalidate matInput type="text" placeholder="Shkruani mbiemrin tuaj" formControlName="userSurname">
                  <mat-error *ngIf="userInfo.get('userSurname').hasError('required')">
                    Mbiemri eshte i <strong>detyrushem</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Emaili*</mat-label>
                  <input formnovalidate matInput type="text" placeholder="Shkruani emailin tuaj" formControlName="userEmailAddress">
                  <mat-error *ngIf="userInfo.get('userEmailAddress').hasError('required')">
                    Emaili ehste i <strong>detyrushem</strong>
                  </mat-error>
                  <mat-error *ngIf="!userInfo.get('userEmailAddress').hasError('required') &&  userInfo.get('userEmailAddress').hasError('email')">
                    Shkruani formatin e sakte te <strong>emailit</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Password*</mat-label>
                  <input formnovalidate matInput type="password" placeholder="Enter password" formControlName="userPassword">
                  <mat-error *ngIf="userInfo.get('userPassword').hasError('required')">
                    Fjalkalimi eshte i <strong>detyrushem</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Telefoni (Opsional)</mat-label>
                  <input formnovalidate matInput type="number" placeholder="Shkruani numrin e telefonit" formControlName="userPhoneNumber">
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Data e Lindjes</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="userBirthday" placeholder="mm/dd/yyyy">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Nr. Leternjofitmi (opcionale)</mat-label>
                  <input formnovalidate matInput type="number" placeholder="Enter you personal ID" formControlName="userPersonalId">
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Selekto Shtetin</mat-label>
                  <mat-select [(value)]="selectedCountry" formControlName="addressCountry" >
                    <mat-option value="Kosovo">Kosovo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Zgjedh Qytetin</mat-label>
                  <mat-select formControlName="addressCity" >
                    <mat-option *ngFor="let city of cities" [value]="city.value">
                      {{city.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Zgjedh Lagjen</mat-label>
                  <mat-select formControlName="addressStreet" >
                    <mat-option *ngFor="let lagjet of lagjet" [value]="lagjet.value">
                      {{lagjet.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6  pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Vizita e fundit jashte shtetit</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="userLastTravelDate" >
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12 pb-2 text-right">
                <button class="margin-right w-100-m" mat-raised-button color="primary" (click)="updateUserProfile()"  >Save</button>
              </div>
          </div>
        </div>
        <div class="col-12 pt-4 pb-4 mt-3 border-top bg-gray border-bottom-left-8px border-bottom-right-8px">
                <div>
                  <button mat-raised-button color="warn" class="w-100-m" (click)="logOut()" >Log Out</button>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
