<div class="login-container mat-checkbox-background">
  <div  class="container-fluid border-box mt-6 mb-4 pt-6 pb-6 bg-white">
    <div class="row w-100">
      <div class="col-12 text-center">
        <h2 class="text-gray">Regjistrohu</h2>
      </div>
      <div class="col-12 text-center">
        <h4 class="text-gray">per te filluar te perdorni AntiConv</h4>
      </div>
    </div>
    <my-slide-panel [activePane]="isLeftVisible ? 'left' : 'right'">
      <div leftPane>
        <div class="align-self-center w-100 container-fluid mt-3"  [formGroup]="initialUserInfo">
            <div class=" row m-auto">
              <div class="col-12 px-0 pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Emri*</mat-label>
                  <input formnovalidate matInput placeholder="Shkruani emrin tuaj" formControlName="userName">
                  <mat-error *ngIf="initialUserInfo.get('userName').hasError('required') && initialUserInfo.get('userName').hasError('minLength')">
                    Emri eshte i <strong>detyrushem</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 px-0 pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Mbiemri*</mat-label>
                  <input formnovalidate matInput type="text" placeholder="Shkruani mbiemrin tuaj" formControlName="userSurname">
                  <mat-error *ngIf="initialUserInfo.get('userSurname').hasError('required')">
                    Mbiemri eshte i <strong>detyrushem</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 px-0 pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Emaili*</mat-label>
                  <input formnovalidate matInput type="text" placeholder="Shkruani emailin tuaj" formControlName="userEmailAddress">
                  <mat-error *ngIf="initialUserInfo.get('userEmailAddress').hasError('required')">
                    Emaili ehste i <strong>detyrushem</strong>
                  </mat-error>
                  <mat-error *ngIf="!initialUserInfo.get('userEmailAddress').hasError('required') &&  initialUserInfo.get('userEmailAddress').hasError('email')">
                    Shkruani formatin e sakte te <strong>emailit</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 px-0 pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Telefoni (Opsional)</mat-label>
                  <input formnovalidate matInput type="number" placeholder="Shkruani numrin e telefonit" formControlName="userPhoneNumber">
                </mat-form-field>
              </div>
              <div class="col-12 px-0 pb-2">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Data e Lindjes</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="userBirthday" placeholder="mm/dd/yyyy">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div formGroupName="passwordGroup" class="w-100">
                <div class="col-12 px-0 pb-2">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label>Password*</mat-label>
                    <input formnovalidate matInput type="password" placeholder="Enter password" formControlName="userPassword">
                    <mat-error *ngIf="initialUserInfo.get('passwordGroup.userPassword').hasError('required')">
                      Fjalkalimi eshte i <strong>detyrushem</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 px-0 pb-2">
                  <mat-form-field class="example-full-width w-100">
                    <mat-label>Confirm Password*</mat-label>
                    <input formnovalidate matInput type="password" placeholder="Confirm password" formControlName="confirm_password">
                    <mat-error *ngIf="initialUserInfo.get('passwordGroup').hasError('invalid')">
                      Fjalkalimi nuk eshte i <strong>njejte</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row  pt-4">
              <div class="col-auto margin-right">
                <button mat-raised-button color="primary" (click)="initialUInfo()" [disabled]="!initialUserInfo.valid">Next
                </button>
              </div>
            </div>
          </div>
      </div>
      <div rightPane>
        <div class="align-self-center w-100 container-fluid mt-3" [formGroup]="otherUserInfo">
          <div class=" row m-auto">
            <div class="col-12 px-0 pb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Nr. Leternjofitmi (opcionale)</mat-label>
                <input formnovalidate matInput type="number" placeholder="Enter you personal ID" formControlName="userPersonalId">
              </mat-form-field>
            </div>
            <div class="col-12 px-0 pb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Selekto Shtetin</mat-label>
                <mat-select [(value)]="selectedCountry" formControlName="addressCountry" >
                  <mat-option value="Kosovo">Kosovo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 px-0 pb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Zgjedh Qytetin</mat-label>
                <mat-select formControlName="addressCity" >
                  <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{city.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 px-0 pb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Zgjedh Lagjen</mat-label>
                <mat-select formControlName="addressStreet" >
                  <mat-option *ngFor="let lagjet of lagjet" [value]="lagjet.value">
                    {{lagjet.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 px-0 pb-2">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Vizita e fundit jashte shtetit</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="userLastTravelDate" >
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
<!--            <div class="col-12 px-0 pb-2">-->
<!--&lt;!&ndash;                <mat-checkbox id="amateur" class="amateur" color="primary"&ndash;&gt;-->
<!--&lt;!&ndash;                              >I pranon kushtet</mat-checkbox>&ndash;&gt;-->
<!--              <mat-checkbox class="example-margin" [(ngModel)]="user_terms_agreement" [ngModelOptions]="{standalone: true}">Agreed</mat-checkbox>-->
<!--            </div>-->

          </div>
          <div class="row  pt-4 text-right">
            <div class="col-auto d-flex margin-right">
              <button mat-button color="primary" (click)="back()">Back
              </button>
              <button class="ml-1" mat-raised-button color="primary" (click)="signUp()" [disabled]="!otherUserInfo.valid">Finish
              </button>
            </div>
          </div>
        </div>
      </div>
    </my-slide-panel>
  </div>
</div>

