<div class="container-fluid">
  <div class="row" style="position: relative">
    <div>
      <img src="../../assets/robina-weermeijer-Pw9aFhc92P8-unsplash.jpg" style="width: 100%;height: auto;max-height: 80vh; filter: brightness(0.95);"
           alt="">
    </div>
  </div>
  <div class="row">
    <div class="container">
        <div class="col-auto margin-auto pt-5">

          <h1 class="text-center">Cilat jane masat mbrojtese?</h1>
        </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12 col-lg-4  pt-3 ">
          <div class="shadow-8dp-d border-radius-8px">
            <div class="row pt-3">
              <div class="col-12">
                <lottie-animation-view
                  class="margin-auto text-center"
                  [options]="{
                      path: 'https://assets9.lottiefiles.com/packages/lf20_O0q5SC.json',
                      renderer: 'canvas',
                      autoplay: true,
                      loop: true
                 }">
                </lottie-animation-view>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12 pt-2">
                <h2 class="text-center pl-3 pr-3">Vendosni Maske</h2>
              </div>
              <div class="col-12">
                <p class="text-center pl-3 pr-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 col-lg-4  pt-3 ">
          <div class="shadow-8dp-d border-radius-8px">
            <div class="row pt-3">
              <div class="col-12">
                <lottie-animation-view
                  class="margin-auto text-center"
                  [options]="{
                      path: 'https://assets9.lottiefiles.com/packages/lf20_HTwm72.json',
                      renderer: 'canvas',
                      autoplay: true,
                      loop: true
                 }">
                </lottie-animation-view>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12 pt-2">
                <h2 class="text-center pl-3 pr-3">Lani Duart</h2>
              </div>
              <div class="col-12">
                <p class="text-center pl-3 pr-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 col-lg-4  pt-3 ">
          <div class="shadow-8dp-d border-radius-8px">
            <div class="row pt-3">
              <div class="col-12">
                <lottie-animation-view
                  class="margin-auto text-center"
                  [options]="{
                      path: 'https://assets9.lottiefiles.com/packages/lf20_nKCnOy.json',
                      renderer: 'canvas',
                      autoplay: true,
                      loop: true
                 }">
                </lottie-animation-view>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12 pt-2">
                <h2 class="text-center pl-3 pr-3">Rrini ne shtepi</h2>
              </div>
              <div class="col-12">
                <p class="text-center pl-3 pr-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 col-lg-4  pt-3 ">
          <div class="shadow-8dp-d border-radius-8px">
            <div class="row pt-3">
              <div class="col-12">
                <lottie-animation-view
                  class="margin-auto text-center"
                  [options]="{
                      path: 'https://assets9.lottiefiles.com/packages/lf20_gF12RG.json',
                      renderer: 'canvas',
                      autoplay: true,
                      loop: true
                 }">
                </lottie-animation-view>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12 pt-2">
                <h2 class="text-center pl-3 pr-3">Pershendetuni nga larg</h2>
              </div>
              <div class="col-12">
                <p class="text-center pl-3 pr-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 col-lg-4  pt-3 ">
          <div class="shadow-8dp-d border-radius-8px">
            <div class="row pt-3">
              <div class="col-12">
                <lottie-animation-view
                  class="margin-auto text-center"
                  [options]="{
                      path: 'https://assets10.lottiefiles.com/temp/lf20_euwjhc.json',
                      renderer: 'canvas',
                      autoplay: true,
                      loop: true
                 }">
                </lottie-animation-view>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12 pt-2">
                <h2 class="text-center pl-3 pr-3">Telefononi Qendren</h2>
              </div>
              <div class="col-12">
                <p class="text-center pl-3 pr-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 col-lg-4  pt-3 ">
          <div class="shadow-8dp-d border-radius-8px">
            <div class="row pt-3">
              <div class="col-12">
                <lottie-animation-view
                  class="margin-auto text-center"
                  [options]="{
                      path: 'https://assets9.lottiefiles.com/packages/lf20_TAdvcC.json',
                      renderer: 'canvas',
                      autoplay: true,
                      loop: true
                 }">
                </lottie-animation-view>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12 pt-2">
                <h2 class="text-center pl-3 pr-3">Kontaktoni Mjekun</h2>
              </div>
              <div class="col-12">
                <p class="text-center pl-3 pr-3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3 pb-3 mt-10" style="background-color:#07264C;">
    <div class="col-12 text-center">
      <img  class="margin-auto" src="../../assets/AntiCov%20Logo%20Light.svg" height="60px;width: auto" alt="">
    </div>
    <div class="col-12 text-center">
      <h3 class="margin-auto pt-3" style="color: white;font-weight: normal">
        &copy; Anticov 2020
      </h3>
    </div>
  </div>
</div>



